td.libelle {
	width: 30%;
}
td.graph {
	width: 50%;
}
td.valeur {
	width: 20%;
}
.circulaire {
	margin-bottom: -90px;
}
.btn-default {
	margin: 3px;
}
#region_fiche {
	font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.bar {
	fill: orange;
}

.bar:hover {
	fill: orangered;
}

.x.axis path {
	display: none;
}

.d3-tip {
	line-height: 1;
	font-weight: bold;
	padding: 12px;
	background: rgba(0, 0, 0, 0.8);
	color: #fff;
	border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
	box-sizing: border-box;
	display: inline;
	font-size: 10px;
	width: 100%;
	line-height: 1;
	color: rgba(0, 0, 0, 0.8);
	content: "\25BC";
	position: absolute;
	text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
	margin: -1px 0 0 0;
	top: 100%;
	left: 0;
}


nav.navBar{
	z-index: 20;
	background-color: #F5861F;
	position: fixed;
	display: block;
	left: 0;	right: 0;	top: 0;
	min-width: 900px;	height: 60px;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.3);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,.3);
}

div.useless{
	width: 100%;
	height: 70px
}

nav>div>a{
	width: auto;/*150px selon le style*/
	padding-top: 13px;
	height: 47px;
	margin-left: 30px;/*a enlever selonle style*/
	text-align: center;
	font-family: "HattoriHanzo";
	font-size: 25px;
	color: #E5E5E5;
	-o-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-khtml-transition: all 0.5s linear;
	-webkit-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
nav>div>a:hover{
	text-decoration: none;
}
.navig {
	margin-top:12px;
}